* {
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    width: auto;
    background-image: url(../resources/images/travel-2611611_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
  margin-bottom: 0%;
}

section {
  height: 80vh;
  width: 100%;
  overflow: overlay;
}

article {
  height: 100%;
  display: block;
  overflow: scroll;
}

div {
  height: 100%;
  width: auto;
  display: inline-block;

}

/* main div {
  display: block
} */

/* Formatos del header */
/* header {
    height: 15vh;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.329);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

header {
  height: 15vh;
  width: 100%;
    background-color: rgba(210, 105, 30, 0.329);
  display: grid;
  grid-template-areas: 
    "logo title search"
    "logo title login";
  grid-template-rows: 50% 50%;
  grid-template-columns: 15vh auto 25%; 
}

#logo {
  grid-area: logo;
}

#title {
  text-align: center;
  grid-area: title;
}

#search {
  grid-area: search; 
}

#login {
  grid-area: login;
  text-align: center;
}

#barra-busqueda {
 
}


/* Formatos de Main */

main {
    height: 80vh;
    width: 100%;
  }

/* Formatos de Main - Botones */
 nav {
    height: 100%;
 } 


ul {
  margin: 0%;
  height: 100%;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

}
 
.menu-4 {
  height: 25%;
}

.menu-3 {
  height: 33%;
}

li {
    list-style-type: none;
    height: auto;
    align-content: center;
    background-color: rgba(210, 105, 30, 0.356);
  }

  li:hover {
    background-color: rgba(210, 105, 30, 0.829);
  }

a {
    text-decoration: none;
    text-align: center;
}
  
/* Formatos del Footer */

footer {
    height: 5vh;
    width: 100vw;
    background-color: rgba(210, 105, 30, 0.329);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
   
.logo {
  height: 100%;
}

.carousel_card {
  height: 100%;
}

.carousel_card_img {
  height: 80%;
}

@media screen and (max-width: 990px) {
  section {
    height: 40vh;
  }
  header {
    grid-template-areas: 
    "logo title title"
    "logo login search";
    grid-template-rows: 50% 50%;
    grid-template-columns: 15vh 50% 50%;
  }
}